.wait-panel h4 {
    text-align: center;
}
.nav-tabs>li>a:hover {
    cursor: pointer;
}
.tab-pane {
    border: 1px solid #dddddd;
    padding: 5px;
    border-top: none;
}
td.currency, td.date, td.number {
    text-align: right;
}
.totals .panel-body {
    height: 400px;
    overflow-y: auto;
}
td.group-name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
